body{
  background-image: url(../background.jpg);
  background: linear-gradient(0deg, #081f0a2c, #081f0a2c), url(../background.jpg) ;
  background-size: cover;
  display: grid;
  }  

.decoration{
  font-size: 1rem;
  font-family: 'Lora', serif;
  grid-row: 2;
  grid-column: 1;
  margin-left: 4rem;
  margin-top: 13rem;
  justify-self: left;
  align-self: left;
  color: white;
}

.date{
  font-size: 2rem;
}

.footer{
  min-width: 100vw;
min-height: 20rem;
display: grid;
justify-content: center;
grid-gap: 2rem;
margin-top: 25rem;
}

.projectButton{
  color: white;
  background-color: white;
  background-size: 10rem;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  grid-row: 1;
}

.projectButton:hover{
  color: white;
  background-color: white;
  background-size: 15rem;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  grid-row: 1;
}